<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
	<title>Text Input Control</title>
	<header>
		<a href="http://localhost:5000/">Home</a>
		<a href="http://localhost:5000/register/">Register</a>
		<a href="http://localhost:5000/members/">Members</a>
	</header>
</head>
<body>
	<form action="/register/" method="POST">
		<div>
			<label>First Name: </label>
			<input type="text", class="form-control", name="first_name", placeholder="first name">
		</div>
		<div>
			<label>Last Name: </label>
			<input type="text", class="form-control", name="last_name", placeholder="last name">
		</div>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
</br>
</br>
</br>
</html>